<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offerte di Lavoro</title>
    <link href="/static/css/offertePubblicheStyle.css" rel="stylesheet" />
</head>
<body>

    <!-- Navbar in alto -->
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/visualizzaOfferte">Offerte di Lavoro</a>
        <a href="/visualizzaOffertePreferite">preferiti</a>
    </nav>

    <!-- Contenuto principale -->
    <div class="main-content">
        <h1>Offerte di Lavoro</h1>

     <div class="cards-container">
    <th:block th:each="offerta : ${offerte}">
        <div class="card">
            <div class="card-details">
                <h3 th:text="${offerta.titolo}"></h3>
                <p th:text="${offerta.descrizione}"></p>
                <p th:text="${offerta.localita}"></p>
            </div>

            <!-- Form per la candidatura -->
            <form th:action="@{/candidature/invia/{id}(id=${offerta.id})}" method="post" class="candidatura-form">
                	<input type="text" name="nome" placeholder="Nome" />
    				<input type="text" name="cognome" placeholder="Cognome" />
    				<input type="email" name="email" placeholder="Email" />
                <button type="submit" class="card-button">Invia Candidatura</button>
            </form>
        </div>
    </th:block>
</div>
    </div>

</body>
</html>
